<div class="container">
  <h1>About Us</h1>
  <p>
    mecenus.org is a service kickstarted by Solfanto, Inc. It is maintained by <%= link_to "Matthew Nguyen", "https://www.facebook.com/matthew.solfanto", target: "_blank" %>.
  </p>
  <p>
    Solfanto, Inc. is a web production company promoting entrepreneurship and software development.
  </p>
  <p>
    More information on:
    <ul>
      <li><%= link_to "solfanto.com", "http://www.solfanto.com", target: "_blank" %> (日本語)</li>
      <li><%= link_to "solfanto.org", "http://www.solfanto.org", target: "_blank" %> (English/日本語)</li>
    </ul>
  </p>
</div>