<div class="container">
  <h1>How To Contribute?</h1>

  <p>
    <b>mecenus.org</b> is actually Open Source!
  </p>
  <p>
    You can contribute by reporting bugs, suggesting improvements or sending pull requests on its <a href="https://github.com/Solfanto/mecenus.org" target="_blank">github repository</a>.
    Graphical improvements are also welcome! 
    We also need help to write the Terms of Use and other legal documents.</p>
  <p>
    Even more! <b>mecenus.org</b> has its own <a href="https://mecenus.org/mecenus" target="_blank">mecenus page</a>! You can donate to support the maintenance of the platform.
  </p>
  <p>
    The donations will be used for hosting expenses and remunerating the team core members.
  </p>

  <h2>How to become a core member?</h2>

  <p>You can contact us by e-mail at contribute [at] mecenus.org.</p>
  <p>To be elligible you need to be an active contributor.</p>
  <p>You can also join the team as designer, community manager or evangelist. Contact us by e-mail!</p>
</div>