<div class="container">
  <h1>Guidelines</h1>

  <!-- TODO: Write the guidelines -->
  <p><em>[TODO: write guidelines]</em></p>

  <p>1. Projects must be open sourced and under a free software license.</p>
</div>