<div class="container">
  <h1>What is Mecenus.org?</h1>

  <ul>
    <li><b>mecenus.org</b> is a platform to get recurrent donations for your Open Source projects</li>
    <li><b>mecenus.org</b> is <strong>free</strong> and takes <strong>no fee</strong> from the donations <i>(credit card and bank transfer fees may still be applied)</i></li>
  </ul>

  <h1>Help</h1>
  <!-- TODO: write help -->
  <p><em>[TODO: write help]</em></p>
</div>