<div class="container">
  <h1>Terms of Use</h1>

  <!-- TODO: write the terms and make them checked by a legal consultant -->
  <p><em>[TODO: write terms]</em></p>
  <p><em>Terms are still in a draft and are subject to change without notice in our sole discretion.</em></p>

  <p>
    Last update at: December 17st, 2015
  </p>

  <p>
    These Terms of Use govern the use of the services offered by Solfanto, Inc. ("mecenus.org") at the mecenus.org Web Service. Such services and web site together are hereinafter referred to as the "Service." Please read these Terms of Use carefully before using the Service. Your use of the Service constitutes your acceptance of and agreement to all of the terms and conditions in these Terms of Use. If you object to anything in these Terms of Use, you are not permitted to use the Service. These Terms of Use are hereinafter referred to as this "Agreement."
  </p>

  <h2>1. mecenus.org Connects Users with Open Source Projects Maintainers</h2>

  <p>
    mecenus.org is a platform to help Open Source projects maintainers to get remunerated.
  </p>

  <h2>2. mecenus.org Only Provides a Venue</h2>

  <p>
    mecenus.org is a communication platform between Open Source projects maintainers and Users. mecenus.org does not take part in the interaction between Users. 
  </p>

  <h2>3. Transactions</h2>

  <h2>4. Billing and Payment Policy</h2>

  <h2>5. Privacy</h2>

  <h2>6. Release</h2>

  <h2>7. Public Areas</h2>

  <h2>8. Account, Password, and Security</h2>

  <h2>9. Links to Other Web Sites</h2>

  <h2>10.Termination and Suspension</h2>

  <h2>11. Intellectual Property Rights</h2>

  <h2>12. Copyright Complaints and Copyright Agent</h2>

  <h2>13. Confidential Information</h2>

  <h2>14. Disclaimer of Warranties</h2>

  <h2>15. No Liability</h2>

  <h2>16. Indemnification</h2>

  <h2>17. Dispute Resolution</h2>
</div>