<div class="container">
  <%= render "header" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-push-4 col-xs-12 main">
      <%= render "navbar" %>

      <div class="panel panel-default">
        <div class="panel-body">
        <% if @sponsors.size > 0 %>
          <h3>This project is sponsored by:</h3>
          <% @sponsors.each do |sponsor| %>
          <%= render "sponsor_cell", user: sponsor %>
          <% end %>
        <% else %>
          <h3>This project has no sponsor yet.</h3>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-sm-pull-8 col-xs-12 sidebar">
      <%= render "side_bar" %>
      <!-- Top supporters -->
    </div>
  </div>
</div>