<div class="container">
  <%= render "projects/header" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 sidebar">
      <%= render "projects/side_bar" %>
      <!-- Top supporters -->
    </div>

    <div class="col-sm-8 main">
      <%= render "projects/navbar" %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render "post_row", post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>